language: python
dist: xenial

addons:
  postgresql: "9.6"

matrix:
  fast_finish: true
  include:
    - python: 3.5
      env: TOXENV=py35-django20
    - python: 3.6
      env: TOXENV=py36-django20
    - python: 3.7
      env: TOXENV=py37-django20
    - python: 3.5
      env: TOXENV=py35-django21
    - python: 3.6
      env: TOXENV=py36-django21
    - python: 3.7
      env: TOXENV=py37-django21

before_install:
  - export DJANGO_SETTINGS_MODULE=test.settings

install:
  - pip install -e .[test]
  - pip install tox

before_script:
  - psql -c 'create database oscar_invoices_test;' -U postgres

script:
  - tox
